<h1>Eat Burgers</h1>

<label for="burgerName">What'd'ya want?</label>
<input type="text" name="burgerName" id="burgerName">
<button id="newBurger">Gimme</button>


<div class="burgerBox">
    {{#each burger}}

    <div class="notDevoured">
        {{#unless devoured}}
        <div class="burger">
            <p class="name">{{burger_name}}</p>
            <img src="./assets/img/burger.png" alt="A nice outline of a burger">
            <button data-id="{{id}}" class="devour">Devour It!</button>
        </div>
        {{/unless}}
    </div>
    <div class="devoured">
        {{#if devoured}}
        <div class="burger">
        <p class="name">{{burger_name}}</p>
        <img src="../public/assets/img/burger.png" alt="A nice outline of a burger">
        {{/if}}
    </div>

    </div>
    
    {{/each}}
</div>
