<header>
    <h1>Eat Burgers</h1>

    <label for="burgerName">What'd'ya want?</label>
    <input type="text" name="burgerName" id="burgerName">
    <button id="newBurger">Gimme</button>
</header>

<div class="burgerBox">

        <div class="notDevoured">
        {{#each burger}}
        {{#unless devoured}}
        <div class="burger">
            <p class="name">{{burger_name}}</p>
            <img src="./assets/img/burger.png" alt="A nice outline of a burger">
            <button data-id="{{id}}" class="devour">Devour It!</button>
        </div>
        {{/unless}}
        {{/each}}
    </div>

    <div class="devoured">
        {{#each burger}}
        {{#if devoured}}
        <div class="burger">
        <p class="name">{{burger_name}}</p>
        <img src="../assets/img/burger.png" alt="A nice outline of a burger">
        <button class="eaten" data-id="{{id}}">Yum</button>
        </div>
        {{/if}}
        {{/each}}
    </div>


    </div>
    
</div>
