body{
    font-family: sans-serif;
}

.burgerBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.notDevoured, .devoured{
    display: flex;
    flex-direction: column;
}

.burger{
    border: 1px solid grey;
}

.burger img{
    width: 100px;
}